.card{
    background-color:cornflowerblue;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    margin: 1rem auto;
    color: white;
    width: 40%;
    
}